

@import '../../node_modules/sass-rem/rem';


// Breakpoint variables for media queries

@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';

$mobile: screen (max-width 767px);
$tablet: screen (min-width 768px);
$belowDesktop: screen (max-width 1023px);
$desktopScreens: screen (min-width 1024px);
$wideScreens: screen (min-width 1280px);
$belowRetina: screen (max-width 1920px);
$retina: screen (min-width 1921px);

//Utility variables

$transition: 0.4s ease;
