/**
 * @file
 * compiled global styles.
 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import 'reset';
@import 'variables';
@import 'global';
